/* ~~~~~~~~~~~~~~ validation ~~~~~~~~~~~~~ */

.popup__error {
    display: block;
    min-block-size: 15px;
    color: red;
    font-size: 12px;
}

.popup__error:last-of-type {
    margin-top: 10px;
}

.popup__input_type_error {
    border-bottom: 1px solid red;
}

.popup__button_disabled {
    opacity: 0.2;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    pointer-events: none;
    user-select: none;
}

/* ~~~~~~~~~~~~~~ http-error ~~~~~~~~~~~~~ */

.http-error {
    position: fixed;
    inset-inline-end: 5px;
    inset-block-start: 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100% / 4.5);
    padding: 10px;
    border: 1px solid #888;
    /* border-radius: 5px; */
    z-index: 10;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.http-error__message {
    color: #9e2222;
    font-size: 14px;
}

.http-error__close {
    display: inline-block;
    flex-shrink: 0;
    inline-size: 30px;
    block-size: 30px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #888;
    /* border-radius: 5px; */
    color: #888;
    opacity: 1;
    transition: opacity 0.2s;
}

.http-error__close:hover {
    opacity: 0.8;
    cursor: pointer;
}

.error__close:active {
    border-color: #aaa;
}

/* ~~~~~~~~~~~~~~~~ likes ~~~~~~~~~~~~~~~~ */

.card__likes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    font-size: 13px;
}

.card__description {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ~~~~~~~~~~~~~~~ profile ~~~~~~~~~~~~~~~ */

.profile__image {
    position: relative;
}

.profile__image:hover {
    cursor: pointer;
}

.profile__image::before {
    content: '';
    position: absolute;
    inset: 0 0;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 50%;
    background-color: #000;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s;
}

.profile__image:hover::before {
    opacity: 0.8;
}

.profile__image::after {
    content: '';
    position: absolute;
    inset: 0 0;
    inline-size: 100%;
    block-size: 100%;
    background-image: url(../images/edit-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s;
}

.profile__image:hover::after {
    opacity: 1;
}
