.popup__error {
    display: none;
    color: red;
}

.popup__error_visible {
  display: block;
}

.popup__input_type_error {
  outline: 1px solid red;
}

.popup__button_disabled {
    color: #b8b8b8;
    background: #ededed;
    pointer-events: none;
    user-select: none;
}
